<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        MI PRIMER PÁGINA WEB
    </h1>
    
    {% block content %}
    <a href="{% url 'erp:vista2'%}">Dos</a>
    <ul>
        {% for category in categories %}
            <li>{{ category.id }} / {{ category.name }}</li>        
        {% endfor %}
    </ul>
    {% endblock content %}
        
    <p>{{name}}</p>
</body>
</html>